.form {
  padding: 0.3rem;
}

.field {
  display: flex;
  flex: 0 0 1;
  &-label {
    display: block;
    font-size: 1.5em;
    width: 20%;
    text-align: center;
  }
  &-input {
    display: block;
    width: 80%;
    padding: 0.3em;
    font-size: 1.2em;
    &:read-only {
      background-color: #cccccc;
    }
  }
  &-select {
    display: block;
    width: 80%;
    padding: 0.3em;
    font-size: 1.2em;
    &-option {
      padding: 0.3em;
      font-size: 1.2em;
    }
  }
  &:not(:first-child) {
    margin-top: 1.3em;
  }
}

.button-field {
  display: flex;
  flex: 0 0 1;
  justify-content: space-around;
  align-content: space-around;
  margin-top: 2em;
}

.button {
  width: 10em;
  height: 3em;
  padding: 0.5em;
  border-radius: 0.3em;
  font-size: 1.2;
  border: none;
  background-color: aquamarine;
  &[data-danger] {
    background-color: tomato;
  }
}
